<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Who to follow</p>
  
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="media-content">
         <div class="content">
           <p>
             <strong>Brad traversy</strong> <br>
             <small>@traversymedia</small>
           </p>
         </div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="media-content">
         <div class="content">
           <p>
             <strong>Brad traversy</strong> <br>
             <small>@traversymedia</small>
           </p>
         </div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="media-content">
         <div class="content">
           <p>
             <strong>AmulIND</strong> <br>
             <small>@amulindia</small>
           </p>
         </div>
      </div>
    </article>
  </div>
  </nav>
</div>